/* ----------------------------------------- Area Cliente ---------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

.listaCliente{
    background-color: transparent;
    list-style: none;
    text-align: start;
}

.listaCliente li{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);  
    padding: 20px;
    margin:25px;
    margin-left: 0px;
}

.caixa{
   
    border: 2px solid rgb(73, 72, 72);
    background-color:#332e38;
    padding-bottom: 20px;

}

.botao{
    width: 100%;
    color: gray;
}

.nav-tabs{
    border-bottom: 0px solid gray !important;
}

.nav-link{
    border-radius: 0% !important;

}

.nav-link:hover{
    border-color: gray !important;
}

.fonte_area{
    font-family: 'Chakra Petch', sans-serif;
    margin-bottom: 30px;
}
