/* ----------------------------------------- Dispositivo ---------------------------------------------------- */
.listaEstilo2{
    background-color: transparent;
    list-style: none;
    text-align: start;
}

.listaEstilo2 li{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); 
    border-radius: 10px; 
    padding: 20px;
}
