/* ----------------------------------------- Login ---------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Bebas+Neue&display=swap');

.custom-form {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 10px; 
  padding: 20px; 
}
.custom-shape-divider-bottom-1688754120 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1688754120 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 127px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1688754120 .shape-fill {
  fill: #818181;
}

.spacer {
  aspect-ratio: 428/800;
  width: 100%;
  background-repeat: no repeat;
  background-position: center;
  background-size: cover;
}
.layer1{
  background-image: url('./Imagens/layer1.svg');
}

.botaoLogin {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px; 
  background-color: #FCAF3C; 
  color: rgb(31, 30, 30);
  text-align: center; 
  border: 1px solid black;
  padding: 10px 20px; 
}

.fontEstilo {
  font-family: 'Bebas Neue', sans-serif;
}

.fontEstilo h1 {
  font-weight:500;
  font-size: 60px;
}

.inputEstilo{
  width: 100%;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #443E4A;
}
.inputEstilo:valid {
  background-color: #443E4A;
}

.fontInput{
  font-family: 'Agdasima', sans-serif;
  color: white;
}

.listaEstilo{
  background-color: transparent;
  list-style: none;
  text-align: start;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); 
  border-radius: 10px; 
  padding: 20px;
}

.listaEstilo li {
  margin-bottom: 10px;
}
