/* ----------------------------------------- Navbar ---------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

.sec {
    min-height: 100vh;
    width: 100%;
    background-image: url('./Imagens/layer_prin.svg');
    background-position: center;
    background-size: cover;
    position: relative;
    border-bottom: 2px solid #000000;
}

.navbar-brand {
    font-size: 30px !important;
}

.logo {
    padding-left: 30px;
    font-family: 'Nabla', cursive;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding-right: 20px;
    margin-top: 1rem;
    position: relative;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #e0de55;
    display: block;

    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
    background: #fcaf3c
}
