 /* ----------------------------------------- REPARAÇÃO ---------------------------------------------------- */

.reparacao{
  width: 90%;
  padding-left: 200px;
  padding-top: 100px;
  padding-bottom: 50px;
}

.row{
  padding-bottom: 30px;
}